div {
    width: 100%;
}

.row{
    margin: 0%;
}

header{
    background-color: #2A381A;
}

h1{
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: "Crimson Text";
}

h2{
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #E2B178;
    font-family: "Abril Fatface";
}

table {
    text-align: left;
    font-size: 12px;
    width: 100%;
}

h5{
    font-size: 12px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: white;
}

#buttonfixed {
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 30px;
    background-color: #839351;
    box-shadow: none;
    border: 0;
    border-radius: 85%;
    width: 48px;
}

.relatoriomes{
    margin-bottom: 100px;
}

#entradas {
    font-family: "Inter";
}